{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bioinformatics Glossary</title>
        <!-- jQuery -->
        <script src="{% static '/jQuery/jquery-3.3.1.min.js' %}"></script>
        <!-- semantic-ui -->
        <link rel="stylesheet" href="{% static '/semantic-ui/semantic.min.css' %}">
        <script src="{% static '/semantic-ui/semantic.min.js' %}"></script>
        <!-- base styling -->
        <link rel="stylesheet" href="{% static '/words/css/base.css' %}">
        <script src="{% static '/words/js/base.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
