{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bioinformatics Glossary</title>
        <!-- jQuery -->
        <script src="{% static '/jQuery/jquery-3.3.1.min.js' %}"></script>
        <!-- semantic-ui -->
        <link rel="stylesheet" href="{% static '/semantic-ui/semantic.min.css' %}">
        <script src="{% static '/semantic-ui/semantic.min.js' %}"></script>
        <!-- base styling -->
        <link rel="stylesheet" href="{% static '/words/css/base.css' %}">
        <script src="{% static '/words/js/base.js' %}"></script>
    </head>
    <body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a class="header item" href=""><i class="home icon"></i></a>
            <div class="ui simple dropdown item">Words
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a id="add-word" class="item" href="#">Add Word</a>
                    <a id="view-catergories" class="item" href="#">View by Category</a>
                </div>
            </div>
        </div>
    </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>
