{% extends 'base.html' %}
{% load static %}
{% load semanticui %}
{% block content %}
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a class="header item" href=""><i class="home icon"></i></a>
            <div class="ui simple dropdown item">Words
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a id="add-word" class="item" href="#">Add Word</a>
                    <a id="view-catergories" class="item" href="#">View by Category</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui main text container">
        <h3 class="ui dividing header">
            Bioinformatics Glossary
            <div class="sub header">A glossary of bioinformatics terms to help sticky toffee puddings.</div>
        </h3>
        <div class="ui search">
            <div class="ui icon input">
                <input id="word-search" class="prompt" type="text" placeholder="Search words...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <script src="{% static '/words/js/search_words.js' %}"></script>
        <div class="ui items">
            <div hidden id="word-placeholder" class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                </div>
                <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div id="word-result" class="item">
                <div class="content">
                    <div id="word-header" class="icon header">
                        <div id="word-category" class="sub header"></div>
                    </div>
                    <div class="meta">
                        <span id="word-definition">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui modal">
        <div class="header">Add Word</div>
        <div class="content">
            <div class="description">
                <div class="ui header">
                    Add a word and assign a category...
                </div>
                <form class="ui form" action="">
                    {% render_form add_word_form %}
                    <div class="ui buttons">
                        <button class="ui button">Cancel</button>
                        <div class="or"></div>
                        <button class="ui positive button" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static '/words/js/add_word_modal.js' %}"></script>
{% endblock content %}
