{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="ui search">
        <div class="ui icon input">
            <input id="word-search" class="prompt" type="text" placeholder="Search words...">
            <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <script src="{% static '/words/js/search_words.js' %}"></script>
    <div class="ui items">
        <div hidden id="word-placeholder" class="ui placeholder">
            <div class="image header">
                <div class="line"></div>
            </div>
            <div class="paragraph">
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div id="word-result" class="item">
            <div class="content">
                <div id="word-header" class="icon header">
                    <div id="word-category" class="sub header"></div>
                </div>
                <div class="meta">
                    <span id="word-definition">
                    </span>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}
